@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    --primary-color: #353432;
    --secondary-color: #716C62;
    --primary-shade-color: #414141;
    --accent-color: #F3DFB5;
    --card-shadow-primary-bg: 0 2px 15px rgba(0, 0, 0, 0.3);

    scroll-behavior: smooth;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 0.025em;

    position: relative;
}

body,
main,
footer {
    position: relative;
    z-index: 5;

    margin: 0;
    background: #353432;
}

main {
    padding-bottom: 100px;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0.025em;
    resize: none;
}

input[type="submit"],
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 80ms ease-out;
    outline: none;
}

input[type="submit"]:active,
button:active {
    box-shadow: inset 0 0 10px rgba(124, 124, 124, 0.377);
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: unset !important;
    color: unset;
    outline: unset !important;
}

h2 {
    font-family: 'Times New Roman', Times, serif !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0;
}

p {
    font-size: 1rem;
    letter-spacing: 0.025em;
    line-height: 144.2%;
    font-weight: 300;
    text-align: justify;
}

.max-container {
    margin: 0 auto;
    width: min(90%, 1300px);
}

.scale-hover {
    transition: transform 200ms ease-in-out;
}

.scale-hover:hover {
    transform: scale(1.03);
}

#primary-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.8));
}

#primary-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 5px;
    width: min(95%, 650px);
    margin: 30px auto;
}

#primary-nav li {
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.active-page {
    border-bottom: 1px solid white;
}

.brand-name {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}

.page-banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.section__heading {
    position: relative;
    z-index: 5;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 70px;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.493));
}

.heading__h2 {
    margin: 20px 0;
}

.heading__bottom-border {
    width: 120px;
    height: 1px;
    background: white;
}

#floater-enquiry {
    color: black !important;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 500;

    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#floater-enquiry__button {
    background: var(--primary-shade-color);
    padding: 17px;
    box-shadow: 0 2px 7px rgb(41, 41, 41);
    transition: background 200ms ease-in-out;
    cursor: pointer;
    border-radius: 8px;
}

#floater-enquiry__button:active {
    background: #4d4d4a;
}

.button--invalid {
    background: rgb(250, 149, 138) !important;
    color: white;
}

#floater-enquiry__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 25px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.363);
    border-radius: 8px;

    width: 350px;
    height: 594px;
}

#enquiry__success-text {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#floater-enquiry__form-wrapper p {
    font-weight: 500;
}

#floater-enquiry__form {
    display: flex;
    gap: 10px;
    width: 350px;
    flex-direction: column;
    align-items: stretch;
}

.light-border-input-box {
    padding: 1em;
    font-size: 0.7rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

#floater-form__button {
    font-size: 0.7rem;
    align-self: center;
    background: var(--accent-color);
    padding: 0.8em 3.4em;
    border: none;
    box-sizing: content-box;
    border-radius: 5px;
}

footer {
    font-size: 0.8rem;
    padding-top: 45px;
    padding-bottom: 40px;
}

#ftr-container {
    position: relative;
    margin-top: 25px;
}

#ftr-max-container {
    width: 90%;
    margin: 0 auto;
}

.ftr-color-shade {
    background: #414141;
    height: 85px;
    width: 130px;

    position: absolute;
    top: -25px;
    left: 0;
    z-index: 3;
}

footer .brand-name {
    font-size: 1.2em;
}

#ftr-max-container p {
    font-size: 1em;
    text-align: justify;
}

.ftr-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    position: relative;
    z-index: 4;
}

.ftr__text-wrapper {
    max-width: 700px;
}

#ftr__hr {
    margin-top: 30px; 
    margin-bottom: 10px;
}

#ftr__site-nav {
    display: grid;
    gap: 15px 70px;
    grid-template-rows: repeat(4, max-content);
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    font-size: 1em;
    text-transform: uppercase;
    font-weight: 300;
}

.ftr-flex-container--bottom {
    font-size: 0.9em;
}

#ftr__social-medias-wrapper ul {
    display: flex;
    gap: 20px;
    width: 254px;
}

.ftr-icons {
    height: 15px;
    fill: white;
}

@media only screen and (min-width: 700px) {
    html {
        font-size: 19px;
    }

}

@media only screen and (min-width: 1000px) {

    #floater-enquiry {
        display: flex;
    }

    .ftr-flex-container--top p {
        padding-left: 50px;
    }
}