@import 'base.css';


main {
    margin-top: 250px;
    margin-bottom: 100px;
}

#tiles-grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tiles {
    background-color: var(--secondary-color);
    box-shadow: var(--card-shadow-primary-bg);
    /* border-radius: .3rem; */
}

.tile-img {
    background-position: center;
    background-size: cover;
}

.grid-tiles {
    display: grid;
    gap: 15px;

    --header-width: 350px;
    --header-height: 140px
}

.tiles-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-header .heading__h2 {
    font-size: 1.8rem;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.493));
}

.tiles-column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tiles-column-wrapper .tiles {
    flex: 1;
}

#chair-grid {
    grid-template-columns: 680px 240px 350px;
    grid-template-rows: 140px 300px;
    grid-template-areas: 
                'chr-big chr-small header'
                'chr-big chr-mdm chr-mdm';
}

#chair-grid .tiles-header {
    grid-area: header;
}

#chair--big {
    grid-area: chr-big;
}

#chair--small {
    grid-area: chr-small;
}

#chair--medium {
    grid-area: chr-mdm;
}

#sofa-grid {
    grid-template-columns: var(--header-width) 935px;
    grid-template-rows: var(--header-height) 245px 300px;
    grid-template-areas: 
                'header sofa-big'
                'sofa-small sofa-big'
                'sofa-quote sofa-big';
}

#sofa-grid .tiles-header {
    grid-area: header;
}

#sofa-big{
    grid-area: sofa-big;
}

#sofa-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;

    grid-area: sofa-quote;
}

#table-grid {
    grid-template-columns: 560px 360px var(--header-width);
    grid-template-rows: var(--header-height) 300px;
    grid-template-areas: 
                'table-big table-mdm header'
                'table-big table-mdm table-small';
}

#table-grid .tiles-header {
    grid-area: header;
}

#table-big {
    grid-area: table-big;
}

#table-medium {
    grid-area: table-mdm;
}

#table-small {
    grid-area: table-small;
}

#catalog-browse {
    margin: 0 auto;
}

.collection-wrapper {
    cursor: pointer;
    overflow: hidden;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 200ms ease-in-out;
}

.collection-wrapper:hover {
    transform: scale(1.02);
}

.collection-wrapper video {
    background-image: url(../images/collection.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


