@import 'base.css';

body {
    background-color: var(--primary-color);
}

#home-banner {
    position: relative;
    height: 100vh;

    background-color: #5a5958;
}

#banner__img {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    
    background-image: url(../images/banner.jpg); 
    background-position: center;
    background-size: cover;
}

#home-banner .max-container {
    width: min(90%, 1645px);
    display: flex;
    align-items: center;
    height: 100%;
}

#banner__body {
    position: relative;
    z-index: 10;
}

.brand-name--banner {
    font-size: clamp(45px, 13vw, 110px);
    color: var(--primary-color);
}

.banner__subtitle {
    font-size: clamp(15px, 3vw, 25px);
    font-weight: 300;
    font-style: italic;
}

section.animate__animated {
    --animate-duration: 1.6s;
}

.sections-container {
    position: relative; 
    z-index: 10;
    background: var(--primary-color);
}

.section-max-container {
    max-width: 1850px;
    margin: 0 auto;
}

#section--intro {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.intro__flex-container {
    display: flex;
    flex-flow: column;
    height: 900px;

    position: relative;
}

#intro-absolute-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: min(90%, 1324px);
    margin: 0 auto;
}

.intro__body {
    background: #274242;
    padding: 2rem max(4vw, 30px);
}

.intro__body p {
    /* font-style: italic; */
    text-align: center;
}

.intro__img {
    background-position: center;
    background-size: cover;
}

.intro__img.img--top {
    background-image: url(../images/woman-painting.jpg);
    flex: 2;
}

.intro__img.img--bottom {
    background-image: url(../images/woman-window.jpg);
    flex: 3.5;
}

#section--collection {
    padding-top: 150px;
    padding-bottom: 80px;
}
 
.collection-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.collection-wrapper video {
    background-image: url(../images/collection.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#collection__button {
    --animate-duration: 3.5s;   
    opacity: 0;
    position: relative;
    z-index: 2;

    user-select: none;
    border: 1px solid white;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    padding: 0.7em 3em;
    background-color: rgba(255, 255, 255, 0.185);
    transition: box-shadow 100ms ease-in;
}

#collection__button:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.349);
}

#section--featured .section__heading {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-bottom: 0;
    z-index: 10;
}

.featured__flex-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 800px;

    position: relative;
    z-index: 5;
}

.featured__img {
    opacity: 0;
    background-position: center;
    background-size: cover;
    flex: 1 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* cursor: pointer; */
    /* transition: scale 200ms ease-out; */
}
/* 
.featured__img:hover {
    scale: 1.06;
} */

#featured-img1 {
    background-image: url(../images/chair1.jpg);

}

#featured-img2 {
    background-image: url(../images/table1.jpg);

}

#featured-img3 {
    background-image: url(../images/table2.jpg);

}

#featured-img4 {
    background-image: url(../images/sofa1.jpg);

}

#section--newsletter {
    background: var(--primary-color);
    padding-top: 170px;
    padding-bottom: 50px;
}

#section--newsletter .section__heading {
    margin-top: 0;
    margin-bottom: 50px;
}

.newsletter__body {
    position: relative;
    width: min(90%, 615px);
    margin: 0 auto;
    height: 133px;
}

.form-success-text {
    text-align: center;
}

#newsletter-color-shade {
    position: absolute;
    top: -30px;
    bottom: 20px;
    left: -10px;
    right: -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141
}

#newsletter__form {
    margin-top: 35px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    position: relative;
}

#newsletter__input {
    border: none;
    width: 370px;
    padding: 1em;
    font-size: 0.7rem;
}

#newsletter__button {
    border: none;
    background: var(--accent-color);
    color: #353432;
    padding: 1em 2.4em;
    cursor: pointer;
    transition: box-shadow 100ms ease-in;
    font-size: 0.7rem;
}

#newsletter__form-button:hover {
    box-shadow: inset 0 0 20px #dac69c;
}


@media only screen and (min-width: 1000px) {

    .intro__flex-container {
        flex-flow: row;
        height: 650px;
    }

}

@media only screen and (min-width: 1260px) {
    
    .featured__flex-container {
        gap: 20px;
    }
}

@media only screen and (min-width: 915px) {

    #newsletter-color-shade {
        position: absolute;
        left: -150px;
        right: -150px;
        background-color: #414141;
    }
}

